header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #ededed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-perspective: 100px;

  perspective: 100px;
}

/* Pseudo Element
    Covers the entire header using absolute 
    positioning.
*/
header:before {
  /* Apply the animation key frame to this 
  pseudo-element. */
  -webkit-animation: fade-slide-down 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  animation: fade-slide-down 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  /* With multiple backgrounds, they are applied 
  in order, with subsequent backgorunds being 
  placed underneath preceeding backgrounds. */
  background: -webkit-linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.8)
    ),
    url(../images/background.jpg) no-repeat bottom;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
    url(../images/background.jpg) no-repeat bottom;
  /* Add starting opacity for pseudo-element 
    before the animation executes. */
  opacity: 0;
  /* Scale the background image and crop either 
  horizontal or vertical without stretching. */
  background-size: cover;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: -1;
}

header:after {
  background: #f9fcff;
  content: "";
  height: 40rem;
  left: -5%;
  position: absolute;
  right: -5%;
  top: 90%;
  -webkit-transform: rotateZ(-4deg);
  transform: rotateZ(-4deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.header-title,
.header-subtitle {
  color: #fff;
}

.header-subtitle {
  margin-bottom: 5rem;
  text-transform: uppercase;
}

.header-button {
  position: relative;
  -webkit-transform: translateZ(0.1px);
  transform: translateZ(0.1px);
  z-index: 10;
}

/* Create a reusable pop-in animation class 
to apply to multiple DOM elements. */
.animate-pop-in {
  animation: pop-in 0.6s ease-out forwards;
  opacity: 0;
}

/* Animation delay on an element by element 
basis. */
.rocky-dashed {
  animation-delay: 0.6s;
}

.header-title {
  animation-delay: 0.8s;
}

.header-subtitle {
  animation-delay: 1s;
}

.header-button {
  animation-delay: 1.1s;
}

/* Animations */

/* This keyframe animation will fade in 
from invisible to fully visible, and 
translate downwards. */
@keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;

    -webkit-transform: translateY(-4rem) scale(0.8);
    transform: translateY(-4rem) scale(0.8);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
